body {
    height: -webkit-fill-available;
   display: flex;
   flex-direction: column;
    background-color: black;
    color: white;
font-family: Arial, Helvetica;
align-items: center;
margin-left: auto;
margin-right: auto;
justify-content: center;
flex:1;
overflow: scroll;
height: auto; }

html {
    height: -webkit-fill-available;
}

@media (max-width: 500px) {
    .navbar {
        max-width: 500px;
    }
}




div {
    font-family: Arial, Helvetica, sans-serif;
 
}

a {
    text-decoration: none;
    color: white;
}

b {
    text-align: center;
    .navbar ul{
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        overflow: hidden;
    }
    font-family: Arial, Helvetica;
    color: white;
    
    .navbar a{
        text-decoration: none;
        padding: 15px;
        display: block;
        text-align: center;
    }
    
    .navbar li{
        display:inline-block
    }
    }
    
    footer {
        position: fixed;
        left: 8px;
       font-family: Arial, Helvetica;
        text-align: center;
        
    }


header {
    font-weight: bold;
    font-size: 35px;
    line-height: 40px;
    text-align: center;
}

.bold {

    font-weight: bold;
    text-align: center;
}

.subtitle
{
    line-height: 1px;
    text-align: center;
    font-size: 12px;
  
}

p {
    line-height: 18px;
    
}

#indent {
text-indent: 0px;
}

main {
    text-align: center;
 

}

#bold

{
    
    font-weight: bold;
}

.border {

    display: block;
    text-align: center;
    align-items: center;
    border:1px solid rgb(52, 52, 52);
    margin-left: auto;
    margin-right: auto;
    width: 100px;


}

.binary {
    font-size: 20px;
    line-height: 5px;
width: 500px;
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;


}

.sub-image {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.MUS002 {
width: 50%;
border:1px solid rgb(52, 52, 52);
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
}

.MUS001 {
width: 50%;
border:1px solid rgb(52, 52, 52);
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 20px;
    border-radius: 5px;


}

.bottom {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.MUSELEMENTS {
    display: block;
    padding: 0;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.welcome {
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.bg-modal{
    
    width: 100%;
    height: 150%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
left: 40px;
    display: none;

}

.modal-content {
    width: 500px;
    height: 290px;
background-color: rgb(0, 0, 0);
border-radius: 4px;
position: relative;
margin-left: auto;
margin-right: auto;
align-items: center;
justify-content: center;
top: -200px;
}

.close {
    position:absolute;
    top:0;
    right:14px;
    font-size:32px;
    transform:rotate(45deg);
    cursor: pointer;

}

.bg-modal2{
    
    width: 100%;
    height: 150%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
left: 40px;
    display: none;

}

.modal-content2 {
    width: 500px;
    height: 290px;
background-color: rgb(0, 0, 0);
border-radius: 4px;
position: relative;
margin-left: auto;
margin-right: auto;
align-items: center;
justify-content: center;
top: -200px;

}

.close2 {
    position:absolute;
    top:0;
    right:14px;
    font-size:32px;
    transform:rotate(45deg);
    cursor: pointer;

}

.center {
    display: block;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;


}

.interact
{
    display: block;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
}

.subtitle {
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}