

body {
    margin:0;
    background-color: black;
    color: white;
font-family: Arial, Helvetica;
height: auto;
text-align: center;
align-items: center;
margin-left: auto;
margin-right: auto;
padding: 3px;
text-decoration: none;
    color: white;

}

header {
    font-size: 20px;
    text-decoration: none;
    background-color: black;
    height: 20px;
max-width: 600px;
align-items: center;
margin-left: auto;
margin-right: auto;



}

@media (max-width:600px) {
    header {
display: none;

    }
    .dropdown {
        display: block;
    }
}

@media (min-width:601px) {
    .dropdown {
        display:none;
    }
}

.dropdown {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.dropdown button {
background-color: rgb(0, 0, 0);
color: white;
padding: 10px 15px;
border: none;
cursor:pointer;
font-size: 25px;
}

.dropdown a{
    display:block;
    color:white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
}

.dropdown .content {
    display:none;
    position:relative;
    min-width: 100px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}

.dropdown:hover .content {
    display:block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.dropdown:hover .button {
    background-color: rgb(4, 4, 4);
}

.dropdown a:hover {
    background-color: rgb(5, 5, 5);
}

#top {

    align-items: center;
    margin-right: auto;
    margin-left: auto;

}

ul {
    list-style: none;
    font-weight: bold;
    height: 100px;
    display: flex;
    align-items: center;

}

ul li {
    padding:20px;
}


a {
    text-decoration: none;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  
}



.bg-modal{
    
    width: 100%;
    height: 150%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}

.modal-content {
    width: 500px;
    height: 290px;
background-color: rgb(0, 0, 0);
border-radius: 4px;
position: fixed;
top:300px;



}

.close {
    position:absolute;
    top:0;
    right:14px;
    font-size:32px;
    transform:rotate(45deg);
    cursor: pointer;

    
}

.bg-modal2{
    
    width: 100%;
    height: 150%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}

.modal-content2 {

    width: 500px;
    height: 290px;
background-color: rgb(0, 0, 0);
border-radius: 4px;
position: fixed;
top:300px;
}

.close2 {
    position:absolute;
    top:0;
    right:14px;
    font-size:32px;
    transform:rotate(45deg);
    cursor: pointer;

    
}

.bg-modal3{
    
    width: 100%;
    height: 150%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}

.modal-content3 {

    width: 500px;
    height: 290px;
background-color: rgb(0, 0, 0);
border-radius: 4px;
position: fixed;
top:300px;
}

.close3 {
    position:absolute;
    top:0;
    right:14px;
    font-size:32px;
    transform:rotate(45deg);
    cursor: pointer;

    
}

.bg-modal4{
    
    width: 100%;
    height: 150%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}

.modal-content4 {

    width: 500px;
    height: 290px;
background-color: rgb(0, 0, 0);
border-radius: 4px;
position: fixed;
top:300px;
}

.close4 {
    position:absolute;
    top:0;
    right:14px;
    font-size:32px;
    transform:rotate(45deg);
    cursor: pointer;

    
}

.bg-modal5{
    
    width: 100%;
    height: 150%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}

.modal-content5 {

    width: 500px;
    height: 290px;
background-color: rgb(0, 0, 0);
border-radius: 4px;
position: fixed;
top:300px;
}

.close5 {
    position:absolute;
    top:0;
    right:14px;
    font-size:32px;
    transform:rotate(45deg);
    cursor: pointer;

    
}

.bg-modal6{
    
    width: 100%;
    height: 150%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}

.modal-content6 {

    width: 500px;
    height: 290px;
background-color: rgb(0, 0, 0);
border-radius: 4px;
position: fixed;
top:300px;
}

.close6 {
    position:absolute;
    top:0;
    right:14px;
    font-size:32px;
    transform:rotate(45deg);
    cursor: pointer;

    
}

.bg-modal7{
    
    width: 100%;
    height: 150%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}

.modal-content7 {

    width: 500px;
    height: 290px;
background-color: rgb(0, 0, 0);
border-radius: 4px;
position: fixed;
top:300px;
}

.close7 {
    position:absolute;
    top:0;
    right:14px;
    font-size:32px;
    transform:rotate(45deg);
    cursor: pointer;

    
}

.bg-modal8{
    
    width: 100%;
    height: 150%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}

.modal-content8 {

    width: 500px;
    height: 290px;
background-color: rgb(0, 0, 0);
border-radius: 4px;
position: fixed;
top:300px;
}

.close8 {
    position:absolute;
    top:0;
    right:14px;
    font-size:32px;
    transform:rotate(45deg);
    cursor: pointer;

    
}

.bg-modal9{
    
    width: 100%;
    height: 150%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}

.modal-content9 {

    width: 500px;
    height: 290px;
background-color: rgb(0, 0, 0);
border-radius: 4px;
position: fixed;
top:300px;
}

.close9 {
    position:absolute;
    top:0;
    right:14px;
    font-size:32px;
    transform:rotate(45deg);
    cursor: pointer;

    
}






.artistheader {
    width:275px;

}

.teamheader {
    width:275px;
}

.handwritten {
    width: 100px;
}

.clef{
width: 10%;
align-items: center;
justify-content: center;
margin-left: auto;
margin-right: auto;
}

.artistsection {
    width: 200px;
    align-items: center;
justify-content: center;
margin-left: auto;
margin-right: auto;
}

.teamsection {
    width: 200px;
    align-items: center;
justify-content: center;
margin-left: auto;
margin-right: auto; 
}

